{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and
                         (sidebars != []) %}
{%- set url_root = pathto('', 1) %}
{# XXX necessary? #}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<html>
<head>

  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>

  {# CSS #}
  <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
  {% for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
  {% endfor %}

  {# FAVICON #}
  <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    

    {# JS #}
    <script type="text/javascript" src="//use.typekit.net/hiw1hhg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '{{ url_root }}',
        VERSION:     '{{ release|e }}',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE:  {{ has_source|lower }}
      };
    </script>
    {% for scriptfile in script_files %}
      <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {% endfor %}

</head>

<body class="wy-body-for-nav">

  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-logo">
        <a href="">{{ docstitle }}</a>
        {% include "searchbox.html" %}
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix">
        {{ toctree(maxdepth=2, collapse=False) }}
      </div>
      &nbsp;
    </nav>
      <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
      <nav class="wy-nav-top">
        <i data-toggle="wy-nav-top" class="icon icon-reorder"></i>
      </nav>
      

      <div class="wy-nav-content">
        
        <div class="rst-content">
          {% include "breadcrumbs.html" %}
          {% block body %}{% endblock %}
        </div>

      </div>
    </section>
  </div>
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

</body>
</html>
