// SOME ADDITIONAL CLASSES AND CHANGES TO FA 4.0
.btn, .nav
  .fa
    display: inline
    &.fa-large
      line-height: .9em
    &.fa-spin
      display: inline-block

.btn.fa:before
  opacity: .5
  +transition(opacity .05s ease-in)
.btn.fa:hover:before
  opacity: 1

.btn-mini
  .fa:before
    font-size: 14px
    vertical-align: -15%
